.c1{
display:inline;
margin-right:320px;
}
.c1 a:hover{
color:black;
}
.c3{
margin-top:50px;
}
.c5 {
color:black;
margin-top:30px;
}
.c5 a:hover{
color:black;
margin-right:3px solid black;
}
.m1{
border-top:3px solid black;
border-bottom:3px solid black;


}
.container{
display:inline-block;
padding-right:50px;
border-right:3px solid black;
}
.m4{
position:fixed;
font-size:20px;
top:160px;
margin-left:500px;
}
.image {
position:relative;
left:300px;
top:100px;
}
.lc{
position:absolute;
display:flex;
top:200px;
left:500px;
flex-direction:column;
width:30%;
gap:15px;
height:150px;
}
.b{
text-align:center;
}
.rf{
position:absolute;
top:200px;
left:500px;
}
.t1{
padding:10px;
}
.t{
position:absolute;
top:230px;
left:400px;
}
.b1{
background:darkgreen;
color:white;
position:absolute;
left:420px;
top:90px;
}
.o{
position:absolute;
left:40px;
}
.b2{
background:darkgreen;
color:white;
position:absolute;
left:420px;
top:200px;
}
.o1{
position:absolute;
left:40px;
}
.o2{
position:absolute;
left:40px;
}
.b3{
background:darkgreen;
color:white;
position:absolute;
left:420px;
top:310px;
}
.o3{
position:absolute;
left:40px;
}
.b4{
background:darkgreen;
color:white;
position:absolute;
left:420px;
top:400px;
}
.top{
position:absolute;
top:20px;
left:20px;
}
.w1{
position:absolute;
top:180px;
left:500px;
}
.T{
position:absolute;
top:320px;
left:140px;
}
body{
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBa_mlZaNax_kxsVTrYalttWR9REi9drkEh43CSTexXILNvPXCfs56gH_5bGkohcM4g1Q&usqp=CAU");
background-size:cover;
background-size: 100% 100%; /* Stretches the image to fully cover the container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-top:100px;
}

.main{
position:absolute;
top:250px;
left:400px;
width:500px;
}





















